In [23]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [24]:
data_1 = pd.read_csv("./维修换件清单1.txt",sep=',')
data_1.head()

           时间       机台ID           机台名称  换件数量     维修费用  维修次数
0  2013/12/15  218040005  卷接机硬卷5#(ZJ17)     1  4480.00     1
1  2013/12/15  218040003  卷接机硬卷3#(ZJ17)     1    34.19     1
2  2013/12/15  218040003  卷接机硬卷3#(ZJ17)     1   141.02     1
3  2013/12/15  218040003  卷接机硬卷3#(ZJ17)     2    68.38     1
4  2013/12/15  219100001  包装机硬包1#(ZB45)     1  2136.75     1

In [25]:
data_2 = pd.read_csv("./维修换件清单2.txt",sep=',')
data_2.head()

           时间       机台ID           机台名称  换件数量      维修费用  维修次数
0  2013/12/15  218040005  卷接机硬卷5#(ZJ17)     1   4480.00     1
1  2013/12/16  215120451     YF26滤棒接收装置    12    475.16     2
2   2013/12/7  215020007      风力柔性送丝机7#     1   3658.12     1
3   2013/12/3  222990001         废烟支处理机     1  13010.00     1
4   2013/10/8  218040008  卷接机硬卷8#(ZJ17)    10      0.00     2

In [26]:
data = pd.concat([data_1,data_2])
data.describe

<bound method NDFrame.describe of               时间       机台ID           机台名称  换件数量     维修费用  维修次数
0     2013/12/15  218040005  卷接机硬卷5#(ZJ17)     1  4480.00     1
1     2013/12/15  218040003  卷接机硬卷3#(ZJ17)     1    34.19     1
2     2013/12/15  218040003  卷接机硬卷3#(ZJ17)     1   141.02     1
3     2013/12/15  218040003  卷接机硬卷3#(ZJ17)     2    68.38     1
4     2013/12/15  219100001  包装机硬包1#(ZB45)     1  2136.75     1
...          ...        ...            ...   ...      ...   ...
2846   2014/7/14  219100005  包装机硬包5#(ZB45)     1   633.33     1
2847   2014/7/14  219100005  包装机硬包5#(ZB45)     1   808.55     1
2848   2014/7/14  219100005  包装机硬包5#(ZB45)     8   820.48     1
2849   2014/7/14  219100005  包装机硬包5#(ZB45)     1   188.04     1
2850   2014/7/14  219100005  包装机硬包5#(ZB45)     1    29.05     1

[7824 rows x 6 columns]>

In [31]:
data.drop_duplicates()

              时间       机台ID             机台名称  换件数量     维修费用  维修次数
0     2013/12/15  218040005    卷接机硬卷5#(ZJ17)     1  4480.00     1
1     2013/12/15  218040003    卷接机硬卷3#(ZJ17)     1    34.19     1
2     2013/12/15  218040003    卷接机硬卷3#(ZJ17)     1   141.02     1
3     2013/12/15  218040003    卷接机硬卷3#(ZJ17)     2    68.38     1
4     2013/12/15  219100001    包装机硬包1#(ZB45)     1  2136.75     1
...          ...        ...              ...   ...      ...   ...
2140    2014/7/5  219010137  包装机高速机3#(FOCKE)     6   597.50     2
2142   2014/7/18  218040008    卷接机硬卷8#(ZJ17)     9  3449.53     2
2143   2014/8/25  218040001    卷接机硬卷1#(ZJ17)     2   646.15     2
2145   2014/8/25  218040085    卷接机组高速机1#(M5)     2   373.89     2
2148    2014/9/4  215010492            喂料机2#     4  1190.00     2

[4923 rows x 6 columns]

In [29]:
top_3 = data_1.sort_values(by='PAY',ascending=False)
top_3

            time             ID             name  Number          PAY  many
629     2013/8/7      215120451       YF26滤棒接收装置       4  21910000.44     1
4586    2013/8/7      215120451       YF26滤棒接收装置       4  21910000.44     1
3167  2013/10/28      215120451       YF26滤棒接收装置       4  21910000.44     1
4807   2014/8/29      218040086    卷接机组高速机2#(M5)      12    464128.98     9
4222   2014/8/29      218040086    卷接机组高速机2#(M5)       1    331240.00     1
...          ...            ...              ...     ...          ...   ...
2946  2013/10/11  2191000000010   包装机硬包10#(ZB45)       2         0.00     1
1812   2014/1/18      218040010   卷接机硬卷10#(ZJ17)       1         0.00     1
2944  2013/10/13      221010002      YP11A装封箱机2#       2         0.00     1
372   2013/12/28      219100005    包装机硬包5#(ZB45)       2         0.00     1
4061    2014/7/5      219010137  包装机高速机3#(FOCKE)       2       -42.50     1

[4973 rows x 6 columns]

In [30]:
top_3.iloc[:3]

            time         ID        name  Number          PAY  many
629     2013/8/7  215120451  YF26滤棒接收装置       4  21910000.44     1
4586    2013/8/7  215120451  YF26滤棒接收装置       4  21910000.44     1
3167  2013/10/28  215120451  YF26滤棒接收装置       4  21910000.44     1