In [4]:
from pyspark.context import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, explode, split, regexp_replace
spark = SparkSession.builder.master('local').appName('test').getOrCreate()
df = spark.read.option('header', True).option('inferSchema', True).csv('./zhaopin.txt') \
    .withColumn('min_salary1', split(col('salary'), '-')[0]) \
    .withColumn('max_salary1', split(col('salary'), '-')[1]) \
    .withColumn('min_salary', regexp_replace(col('min_salary1'), "k", "")) \
    .withColumn('max_salary', regexp_replace(col('max_salary1'), "k", "")) \
    .select('positionName','salary','min_salary','max_salary','workYear','city','companyShortName','companySize','district','financeStage','industryField','thirdType','resumeProcessDay','resumeProcessRate')
df.show()

+--------------------------+-------+----------+----------+--------+----+--------------------------+-----------+--------+------------+---------------------+---------+----------------+-----------------+
|              positionName| salary|min_salary|max_salary|workYear|city|          companyShortName|companySize|district|financeStage|        industryField|thirdType|resumeProcessDay|resumeProcessRate|
+--------------------------+-------+----------+----------+--------+----+--------------------------+-----------+--------+------------+---------------------+---------+----------------+-----------------+
|       Senior Data Analyst|15k-30k|        15|        30|   3-5年|北京|                  AppAnnie|  150-500人|  东城区|   D轮及以上|           移动互联网| 数据分析|               1|              100|
|                数据分析师|15k-20k|        15|        20|   3-5年|北京|北京合生活网络科技有限公司|  150-500人|  朝阳区|  不需要融资|             消费生活| 数据分析|               2|               61|
|                数据分析师|14k-25k|        14|        25|   1-3年|北京|                  花生米富|  150-500人|  朝阳区|         B轮|      移动互联网,金融| 数据分析|               2|              100|
|        数据分析师（融资）| 8k-13k|         8|        13|   1-3年|北京|                    有利网| 2000人以上|  朝阳区|  不需要融资|                 金融| 数据分析|               0|                0|
|       数据分析师-用户增长|15k-30k|        15|        30|   3-5年|北京|                  必要商城|  150-500人|  朝阳区|  不需要融资|                 电商| 数据分析|               1|              100|
|            数据分析工程师|15k-30k|        15|        30|   1-3年|北京|                    洋钱罐|  150-500人|  朝阳区|  不需要融资|      移动互联网,金融| 数据分析|               1|              100|
|     风险计量部-数据分析师|15k-30k|        15|        30|    不限|北京|                  贝壳金服| 500-2000人|  朝阳区|      未融资|                 金融| 数据分析|               1|               15|
|                数据分析师|15k-25k|        15|        25|   3-5年|北京|                  水滴互助| 500-2000人|  朝阳区|         B轮|移动互联网,医疗丨健康| 数据分析|               1|               65|
|            数据分析工程师|15k-30k|        15|        30|   3-5年|北京|                  巅峰同道|   50-150人|  朝阳区|         B轮|      金融,移动互联网| 数据分析|               1|               10|
|            高级数据分析师|25k-35k|        25|        35|  5-10年|北京|                  发现旅行|   50-150人|  朝阳区|         B轮|                 旅游| 数据分析|               1|               92|
|      高级数据分析师(财务)|20k-30k|        20|        30|  5-10年|北京|                  永洪科技|  150-500人|  朝阳区|         C轮|             企业服务| 数据分析|               2|              100|
|              数据分析经理|15k-25k|        15|        25|   1-3年|北京|                    美菜网| 2000人以上|  朝阳区|   D轮及以上|                 电商| 数据分析|               0|                0|
|              数据分析助理|  5k-6k|         5|         6|    不限|北京|                  骨朵传媒|    15-50人|  朝阳区|         A轮|           移动互联网| 数据分析|               0|                0|
|        数据分析助理工程师| 8k-10k|         8|        10|    不限|北京|                  亿脑科技|    15-50人|  朝阳区|      未融资|        硬件,人工智能| 数据分析|               0|                0|
|数据分析师（数据策略方向）|15k-30k|        15|        30|   3-5年|北京|                车好多集团| 2000人以上|  朝阳区|   D轮及以上|             消费生活| 数据分析|               1|              100|
|   数据分析师-用户画像方向|15k-25k|        15|        25|   3-5年|北京|                  必要商城|  150-500人|  朝阳区|  不需要融资|                 电商| 数据运营|               1|              100|
|            高级数据分析师|20k-35k|        20|        35|  5-10年|北京|                  水滴互助| 500-2000人|  朝阳区|         B轮|移动互联网,医疗丨健康| 业务运营|               1|               65|
|        数据分析师（金融）|20k-40k|        20|        40|   3-5年|北京|                车好多集团| 2000人以上|  朝阳区|   D轮及以上|             消费生活| 数据分析|               1|              100|
|                数据分析师|15k-25k|        15|        25|   1-3年|北京|                    洋钱罐|  150-500人|  朝阳区|  不需要融资|      移动互联网,金融| 数据分析|               1|              100|
|                数据分析师|20k-30k|        20|        30|   3-5年|北京|                  闪银奇异| 500-2000人|  朝阳区|   D轮及以上|      移动互联网,金融| 数据分析|               1|              100|
+--------------------------+-------+----------+----------+--------+----+--------------------------+-----------+--------+------------+---------------------+---------+----------------+-----------------+
only showing top 20 rows

In [6]:
from pyspark.context import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, split, regexp_replace
from pyspark.sql.types import IntegerType
spark = SparkSession.builder.master('local').appName('test').getOrCreate()
df = spark.read.option('header', True).option('inferSchema', True).csv('./zhaopin.txt') \
    .withColumn('min_salary1', split(col('salary'), '-')[0]) \
    .withColumn('max_salary1', split(col('salary'), '-')[1]) \
    .withColumn('min_salary', regexp_replace(col('min_salary1'), "k", "").cast(IntegerType())) \
    .withColumn('max_salary', regexp_replace(col('max_salary1'), "k", "").cast(IntegerType())) \
    .select('positionName','salary','min_salary','max_salary','workYear','city','companyShortName','companySize','district','financeStage','industryField','thirdType','resumeProcessDay','resumeProcessRate')

min_avg = df.groupBy('city') \
    .sum('min_salary') \
    .withColumnRenamed('sum(min_salary)','min_salary')

max_avg = df.groupBy('city') \
    .sum('max_salary') \
    .withColumnRenamed('sum(max_salary)','max_salary')

min_avg.join(max_avg, ['city'], 'left').show()

+----+----------+----------+
|city|min_salary|max_salary|
+----+----------+----------+
|杭州|      2190|      3658|
|成都|       379|       649|
|深圳|      4107|      7163|
|重庆|        60|       110|
|上海|      6201|     10759|
|北京|     11214|     19560|
|广州|      1919|      3284|
|武汉|       447|       779|
+----+----------+----------+

In [8]:
from pyspark.context import SparkContext
from pyspark.sql import SparkSession

spark = SparkSession.builder.master('local').appName('test').getOrCreate()
df = spark.read.option('header', True).option('inferSchema', True).csv('./zhaopin.txt')

df.groupBy('city', 'workYear').count().show(n=100)

+----+----------+-----+
|city|  workYear|count|
+----+----------+-----+
|成都|      不限|   10|
|武汉|应届毕业生|    3|
|成都|应届毕业生|    1|
|广州|    5-10年|   18|
|北京|      不限|   67|
|杭州|    5-10年|   26|
|北京|     1-3年|  168|
|成都|    5-10年|    9|
|深圳|      不限|   26|
|北京|  10年以上|    4|
|上海|      不限|   42|
|重庆|     3-5年|    3|
|深圳|   1年以下|    4|
|武汉|      不限|    6|
|杭州|      不限|   11|
|广州|      不限|   26|
|杭州|应届毕业生|    5|
|北京|   1年以下|    8|
|成都|   1年以下|    2|
|深圳|    5-10年|   34|
|北京|    5-10年|  113|
|深圳|  10年以上|    1|
|杭州|   1年以下|    2|
|杭州|     3-5年|   72|
|上海|应届毕业生|   29|
|广州|     3-5年|   57|
|北京|     3-5年|  287|
|重庆|      不限|    2|
|广州|   1年以下|    5|
|杭州|     1-3年|   30|
|广州|     1-3年|   52|
|成都|     1-3年|   13|
|上海|     1-3年|  132|
|武汉|    5-10年|   11|
|武汉|     1-3年|   10|
|上海|    5-10年|   57|
|武汉|     3-5年|   14|
|深圳|     3-5年|  129|
|深圳|     1-3年|   75|
|北京|应届毕业生|   63|
|上海|     3-5年|  164|
|深圳|应届毕业生|    6|
|上海|   1年以下|    9|
|重庆|     1-3年|    3|
|广州|应届毕业生|   12|
|成都|     3-5年|    8|
+----+----------+-----+